/* Laosheng.top 老生常谈排行榜 */

   body 	{background: #EEEECC ; margin-left:4%; }
     h2 	{width: 36%; }		/* {margin-top: -1%; }*/
     br		{line-height: 1.8;  }	/*br  	{margin: 0.5% auto; }*/  
div.kuai	{
	float: left; margin:1%; 
	width:  452px ; 		/*480px 25% width: auto; min-width: 360px;*/
	height: auto;			/*margin-top: -0.5%;*/
	}
div.you 	{text-align: right; }
div#top 	{margin-bottom:-3%; }	/* div#tuli */
div#top2	{margin-top: -8%; text-align: left; font-size: smaller; } /*margin-top: 2%;*/
div#top5	{width: 50%;         float: right;  font-size: smaller; } 
  p.you 	{text-align: right; }
