/* Laosheng.top 老生常谈云媒体 */

	body 	{background-image: linear-gradient( Azure, WhiteSmoke, Cornsilk);
		/* background: hsl(215, 90%, 95%);LightCyan 	WhiteSmoke; v2.0 #FAFAD2 ;#f2f9ff*/	
/* v1.9.8 rgb(255,255,200)	Cornsilk #FFF8DC	#EEEECC 	LightYellow #FFFFE0	LightGoldenRodYellow #FAFAD2 */
		margin-left:3%; line-height: 1.75; margin-right: 2%;}	/* 大表格右侧仍未完整 */

	h2 	{margin-bottom: 0.5% }		/* margin-top:2%;line-height: 1.2; */
	h3	{margin-bottom: 0%}

	div.you	{text-align: right; }
	div#top	{margin-bottom:-3%; }		/* div#tuli */

	span.lv	{background-color: lightgreen;}	/*Arab*/

	table.AZ{font-size: 0.75em; 
		table-layout: fixed;}		/* fixed后td才能不换行 */
	table.AZ td
		{white-space:nowrap; 		/* word-break:keep-all;	不换行 */
    		overflow:hidden;	text-overflow:ellipsis;	}
    		/* 内容超出宽度时隐藏超出部分，并且显示省略标记... */

	table.zhong
		{width: 1000px; height: 270px;	/* 1200px v2.1 解决Edge兼容性跟进*/
		/*margin:auto -5px; 尝试居中偏左，尚未成功 */
		background-color: white; }	/* border-color: orange;	whitesmoke*/
	td#dongbei 	{border-color: red;	border-width: 0 0 0 3px;}
	td#zhong	{border-color: red;	border-width: 3px;}
	td#西南  	{border-color: red;	border-width: 0 3px 0 0;}
	table#tuli
		{height: 10px; background-color: white;}

	table.主要国家
	{	width: 1280px; height: 720px;				/*width: 1280px; height: 720px;*/
 		background-image: url('yidaiyilu-main-v-0.4.6.gif'); 	/*background-repeat: no-repeat;*/
 		background-position: center;  background-size: contain;	/*background-position: -150px -40px;*/
	}
	table.其他国家
	{	width: 720px; height: 960px; 				/* height: 1280px; */
 		background-image: url('yidaiyilu-other-v-0.4.6.gif'); 
 		background-position: center;  background-size: contain;
	}
/* 
色彩名：	https://www.w3school.com.cn/cssref/css_colornames.asp
*/
