/* Laosheng.top 老生常谈排行榜 */
	body 	{background-image: linear-gradient( Azure, WhiteSmoke, Cornsilk);
		/* background: hsl(215, 90%, 95%);LightCyan 	WhiteSmoke; v2.0 #FAFAD2 ;#f2f9ff*/	
/* v1.9.8 rgb(255,255,200)	Cornsilk #FFF8DC	#EEEECC 	LightYellow #FFFFE0	LightGoldenRodYellow #FAFAD2 */
		margin-left:4%; line-height: 1.75; }

	h2 	{margin-bottom: 0.5% }		/* margin-top:2%;line-height: 1.2; */
	h3	{margin-bottom: 0%}

	div.you	{text-align: right; }
	div#top	{margin-bottom:-3%; }		/* div#tuli */

	table.zhong
		{width: 1000px; height: 270px;	/*1200px*/
		background-color: white; }	/* border-color: orange;	whitesmoke*/
	td#dongbei 	{border-color: red;	border-width: 0 0 0 3px;}
	td#zhong	{border-color: red;	border-width: 3px;}
	td#西南  	{border-color: red;	border-width: 0 3px 0 0;}
/* 
色彩名：	https://www.w3school.com.cn/cssref/css_colornames.asp
*/
