/* https://Laosheng.top */
/* 老生常谈云媒体系列页面 */

	body 	{background-image: linear-gradient( Azure, WhiteSmoke, Cornsilk); 
		background-repeat: no-repeat;
/* background: hsl(215, 90%, 95%); LightCyan  WhiteSmoke;	v2.0 #FAFAD2 ;#f2f9ff */
/* v1.9.8 rgb(255,255,200) #EEEECC LightYellow #FFFFE0  Cornsilk #FFF8DC LightGoldenRodYellow #FAFAD2 */
		/* margin-left:1em; 		rem反而更小，奇怪。	margin-left:3%;*/
		margin: auto;			/* margin-right: 2%;大表格右侧仍未完整 */
		padding-left:1em;		/* 内部空白左1格 */
		line-height: 1.75; 		/*word-spacing:0;	letter-space:0;*/
		}
	h2 	{margin-bottom: 0.5% }		/* margin-top:2%;line-height: 1.2; */
	h2#top	{margin-top: -2%}	
	h3	{margin-bottom: 0%}
/* 	img	{ vertical-align: middle;  }		解决图像偏高的问题 bottom*/

	div.you	{text-align: right; }
	div#top	{margin-bottom:-3%; }		/* div#tuli -3em*/
	table#tuli
		{background-color: white;	/*height: 10px; */
		margin-left: 1em;}

/* 新闻云中字表格 */
	table.zhong
		{width: 1008px; height: 270px;	/* 1200px v2.1 解决Edge兼容性跟进*/
		/* margin:auto -5px; 尝试居中偏左，尚未成功 	*/
		
		/* padding: "8"; 网页中写cellpadding="8";*/
		background-color: white; 	/* border-color: orange;	whitesmoke*/
		}	
	td#dongbei 	{border-color: red;	border-width: 0 0 0 3px;}
	td#zhong	{border-color: red;	border-width: 3px;}
	td#西南  	{border-color: red;	border-width: 0 3px 0 0;}

/* 外宣云列表 */
	table.外文云	{ }	/*margin-right: 1%; */
	table.外文云 td {text-align: center;	}

/* 一带一路云媒体地图 */
	table#主要国家
	{	width: 1280px; height: 720px;	/* width: 1280px; height: 720px; */
	background-image: url(../ydyl/yidaiyilu-map-main.png);
/* 	图片名的'单引号'是多余的，"双引号"效果一样。 */
 	background-size: contain;	/* 	background-repeat: no-repeat;  */
/* 	background-position: center; background-position: -150px -40px; */
	}
	table#其他国家
	{	width: 720px; height: 960px; 		/* height: 1280px; */
 	background-position: center;  background-size: contain;
 	background-image: url('../ydyl/yidaiyilu-map-meizhou.gif'); 
	}
/* 世界语言色块 */
	span.ar	{background-color: lightgreen;}	/* Arab 绿色*/
	span.bo	{background-color: Violet;}	/* 波斯语 紫色 Plum fuchsia */
	span.fa {background-color: LightSteelBlue; } /* 法语 铁青色 SteelBlue */
	span.xi	{background-color: LightCoral;}	/* 西班牙语 西语土红色 PaleVioletRed Chocolate */

/* 联合国有关部门 */
	table.国际云 {margin-left: 0%; 	margin-right: 2%;}	/*  %2 margin-left: 1em;*/
	table.国际云 td {text-align: center;	}
	h3.国际范	{margin-top: -1em; }

/* 中图法表格测试 */
	table.AZ{font-size: 0.75em; 
		table-layout: fixed;}		/* fixed后td才能不换行 */
	table.AZ td
		{white-space:nowrap; 		/* word-break:keep-all;	不换行 */
    		overflow:hidden;	text-overflow:ellipsis;	}
    		/* 内容超出宽度时隐藏超出部分，并且显示省略标记... */

/* 
色彩名：	https://www.w3school.com.cn/cssref/css_colornames.asp
*/
